.sideBar {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #282c34;
    overflow-x: hidden;
    padding-top: 25px;
}

.sideBar a {
    padding: 5%;
    margin: 10%;
    background-color: gray;
    text-decoration: none;
    font-size: calc(10px + 1vmin);
    color: white;
    display: block;
}

.sideBar a:hover {
    background-color: darkgray;
    color: yellow;
}

.sideBar a:target {
    background-color: darkgray;
    color: red;
}